.drive-container {
    height: 85vh;
    padding-right: 16px;
    position: relative;
  }
  
  .drive-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .drive-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .drive-container::-webkit-scrollbar-thumb {
    background: #c8c8c8;
    border-radius: 10px;
  }
  
  .drive-container::-webkit-scrollbar-thumb:hover {
    background: #939393;
  }

/* 드래그 검색 */
.search-link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 0.9em;
}
.search-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.search-link .search-image,
.search-link .search-snippet,
.search-link .search-item-content {
  display: inline-block;
  vertical-align: middle;
}
.search-snippet {
  font-size: 0.8em;
  font-weight: normal;
  color: #4d5156;
  margin-top: 5px;
}
.search-image {
  max-width: 60px;
  max-height: 60px;
  width: auto;
  height: auto;
  margin-right: 10px;
}
.search-item {
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.search-item-header {
  display: flex;
  align-items: flex-start;
}
.search-item-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.spaced-ul {
  margin-top: 35px;
  padding: 10px;
  list-style-type: none;
}
.show-more-btn {
background-color: #f0f0f0;
border: none;
padding: 5px 10px;
cursor: pointer;
font-size: 12px;
margin-top: 5px;
}